<!DOCTYPE html>
<html lang="it">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title> Aggiorna Auto </title>
	<link rel="stylesheet" href="/css/update-car.css?version=2" />
</head>

<body>
	<nav class="nav-bar">
		<a href="/">
			<img class="icons-home" src="/images/home.png"></img>
		</a>
		<h3 class="siw-text"> SiwConcessionario </h3>
		<ul class="nav-menu">
			<li class="nav-item">
				<a class="ali" href="/car">Catalogo</a>
			</li>
			<li class="nav-item">
				<a class="ali" href="/supplier">Fornitori</a>
			</li>
			<li class="nav-item">
				<div class="account-reg-log">
					<a th:if="${userDetails}" id="reg-button" class="reg-log-button" href="/logout"> Logout </a>
					<a th:unless="${userDetails}" id="reg-button" class="reg-log-button" href="/register"> Registrati
					</a>
					<a th:unless="${userDetails}" class="reg-log-button" href="/login"> Login </a>
				</div>
			</li>
		</ul>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</nav>

	<h1 class="center"> Aggiorna Auto </h1>



	<div th:if="${car}">
		<br>
		<div class="title">
			<h3 th:text="${car.marca} + ' ' + ${car.modello}"> Nome Modello </h3>
		</div>
		<div class="img-text">
			<div>
				<img class="img" th:src="@{/images/__${car.urlImage}__}">
			</div>
			<div class="modifica-container">
				<h2>Modifica: </h2>
				<div class="update" id="remove">
					<a th:href="@{'/supplier/removeCar/' + ${car.id} }">Rimuovi Auto dal Catalogo</a>
				</div>
				<div class="update" id="add">
					<a th:href="@{'/supplier/manageOptionals/' + ${car.id} }">Modifica lista degli optional</a>
				</div>
			</div>
		</div>
	</div>


</body>



</html>