<!DOCTYPE html>
<html>
	
	<head>
		<title> Macchine</title>
		<link rel="stylesheet" href="/stile.css?version=2" />
	</head>
	
	<body>
		<div> <a href="/"> <img src="/images/logo-siw.png" width="50%"/> </a> </div>
		<h1> Macchine</h1>
		<div th:if="${cars.isEmpty()}">Non ci sono auto nel sistema</div>
		<ul>
			<li th:each="car : ${cars}">
				<a th:text="${car.marca} + ' ' +${car.modello}">Up!</a>
				<a th:href="@{'/supplier/FormUpdateCar/' + ${car.id} }">Modifica auto</a>
			</li>
		</ul>
	</body>
</html>
