<!DOCTYPE hmtl>
<html lang="it">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title> Macchina</title>
	<link rel="stylesheet" href="/css/car-sup.css" />
</head>

<body>

	<nav class="nav-bar">
		<a href="/">
			<img class="icons-home" src="/images/home.png"></img>
		</a>
		<h3 class="siw-text"> SiwConcessionario </h3>
		<ul class="nav-menu">
			<li class="nav-item">
				<a class="ali" href="/car">Catalogo</a>
			</li>
			<li class="nav-item">
				<a class="ali" href="/supplier">Fornitori</a>
			</li>
			<li class="nav-item">
				<div class="account-reg-log">
					<a id="reg-button" class="reg-log-button" href="/register"> Registrati </a>
					<a class="reg-log-button" href="/login"> Login </a>
				</div>
			</li>
		</ul>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</nav>


	<div th:if="${car}">
		<div class="title">
			<h3 th:text="${car.marca}"> Nome Marca </h3>&nbsp; <!--&nbsp; serve per creare uno spazio-->
			<h3 th:text="${car.modello}"> Nome Modello </h3>
		</div>
		<div class="img-text">
			<div>
				<img class="img" th:if="${car.urlImage.startsWith('https')}" th:src="${car.urlImage}">
				<img class="img" th:unless="${car.urlImage.startsWith('https')}"
					th:src="@{/images/__${car.urlImage}__}">
			</div>
			<div class="infos">
				<br>
				<span> Km percorsi:
					<span th:text="${car.km}"> num di km </span>
				</span>
				<div  class="optional" th:if="${car.optionals.isEmpty()}">Lista degli optional non disponibile</div>
				<div class="optional" th:unless="${car.optionals.isEmpty()}">
					<span> Lista degli optional: </span>
					<ul>
						<div>
							<li  th:each="optional : ${car.optionals}">
								<span th:text="${optional.name}"></span>
							</li>
						</div>
					</ul>
				</div>
			</div>
		</div>
		<div id="fornitore"> Fornitore:
			<span th:if="${car.supplier!=null}">
				<span th:text="${car.supplier.name} +' '+ ${car.supplier.surname}">Nome Fornitore</span>
			</span>
			<span th:unless="${car.supplier!=null}">Non disponibile</span>
		</div>
	</div>

	<div th:unless="${car}">Non esiste</div>

	<script>
		const hamburger = document.querySelector(".hamburger");
		const navMenu = document.querySelector(".nav-menu");
		hamburger.addEventListener("click", () => {
			hamburger.classList.toggle("active");
			navMenu.classList.toggle("active");
		})
		document.querySelectorAll(".nav-link").forEach(n => n.addeaddEventListener("click", () => {
			hamburger.classList.remove("active");
			navMenu.classList.remove("active");
		}))
	</script>
</body>

</html>